<app-header titulo="Grid Row">

</app-header>

<ion-content>

  <ion-grid>

    <ion-row>
      <ion-col 
       size="12"
       size-lg = "3"
       size-md = "4"
       size-sm = "6"
       size-xs = "12"
       *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1];">
        <ion-card>
          <ion-img src="/assets/shapes.svg"></ion-img>
          <ion-card-header> Card Subtitles </ion-card-header>
          <ion-card-title> Card Titles </ion-card-title>
          <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni hic quidem maxime temporibus laudantium.
            Perferendis quas sequi veniam aliquid neque, temporibus earum et officiis molestiae consectetur?
            Reprehenderit culpa corporis praesentium!
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>


  </ion-grid>

</ion-content>